// Variables Import
@import '../styles/Variables.scss';


.landing-banner {
  background-color: $lightYellow;
  padding-bottom: 200px;

  h2 {
    font-size: $text64;
    text-align: start;
  }

  h4 {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    text-align: start;
  }

  img {
    width: 100%;
  }
}