// Variables Import
@import '../styles/Variables.scss';


.landing-banner {
  background-color: $lightYellow;
  padding-bottom: 200px;

  h2 {
    font-size: $text64;
    text-align: start;
  }

  .underline-links {
    @include underline-link;
    text-align: start;
  }

  img {
    width: 100%;
  }
}