$lightYellow: #FBEBB5;
$text16: 16px;

.container {
  background-color: $lightYellow;
  height: 100px;

  .nav-bar {
    display: flex;
    justify-content: space-around;
    font-size: $text16;
    font-weight: 700;

    .nav-items {
      margin-top: 40px;
      gap: 50px;
    }

    .nav-icon {
      margin-top: 40px;
      display: flex;
      gap: 40px;
    }
  }
}