$lightYellow: #FBEBB5;
$text16: 16px;

.header {
  background-color: $lightYellow;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  .nav-bar {
    display: flex;
    gap: 50px;
    font-size: $text16;
    font-weight: 700;

    .nav-items {
      gap: 50px;
    }

    .nav-icon {
      display: flex;
      gap: 40px;
    }
  }
}