// Variables Import
@import '../../styles/Variables.scss';
 
 .footer-address {
    color: $grayColor;
    margin-top: 206px;
    padding: 0;
  }

  .footer-title {
    color: $grayColor;
    margin-top: 100px;
  }

  .footer-link {
    a {
      color: $blackColor;
      text-decoration: none;
    }

    .disabled {
      color: $grayColor;
    }

    .black-underline {
      text-decoration: underline;
      text-decoration-color: $blackColor;
    }
  }